<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top in-header shadow" id="navbar">

            <!-- Sidebar Toggle (Topbar) -->
            
            <mat-toolbar mat-h5>

                <a  mat-button class="sidebar-brand d-flex sa_align-items-center justify-content-center logo">

                    <img src="/assets/img/logo.png" asp-append-version="true" width="200" height="45" style="position:relative;"/>
                </a>
    
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
    
                    <li class="nav-item">
                        <a mat-button class="nav-link" routerLink="home">
                            <i class="fas fa-fw fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a  mat-button class="nav-link">
                            <i class="fa fa-users"></i>
                            <span> Startups</span>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a  mat-button class="nav-link" routerLink="profile/personal">
                            <i class="fas fa-fw fas fa fa-user"></i>
                            <span>My Account</span>
                        </a>
                    </li>
    
                    <li  class="nav-item">
                        <a  mat-button class="nav-link">
                            <i class="fa fa-newspaper-o"></i>
                            <span> Blog</span>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a  mat-button class="nav-link">
                            <i class="fa fa-comment"></i>
                            <span> Massages</span>
                        </a>
                    </li>
                   
    
                    <li class="nav-item">
    
                        <a  mat-raised-button color="accent" class="nav-link" routerLink="profile/professional">
                            <i class="fa fa-bell"></i>
                            <span> </span>
                        </a>
                    </li>
                </ul>

            </mat-toolbar>

            

        </nav>

    </div>
    <!-- End of Content Wrapper -->

</body>
</html>