                                                                                                                                          
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.ad-reg-button {
    margin-top: 20px;
    margin-bottom: 0px;
    min-width: 210px;
}

.ad-continer {
    width: 30%;
    background-color: transparent;
}

.taransparent {
    background-color: transparent;
}

.radious {
    border-radius: 50px;
    border-color: black;
}

.spnav{
    background-color:lightgreen;
}
.ad-reg-button-log {
    min-width: 80px;
}
.em-continer {
    width: 35%;
    background-color: transparent;
}

.nav-item{
    color: aliceblue;
}

a{
    color: aliceblue;
}
.nav-link{
    /* height: 40px!important; */
    
}