<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h3>Send message to the CEO of {{name.Company_Name}}</h3>

<div>
  <form action="" (ngSubmit)="createMessage()">

    <!-- <label for="share">From</label>
    <input type="text" id="share" name="Offered_Share" placeholder="" [(ngModel)]="msg.Sender"> -->

    <label for="amount">To</label>
    <input type="text" id="share" name="Receiver" readonly placeholder="" [(ngModel)]="msg.Receiver">

    <label for="">Message</label>
    <textarea name="Message" id="" cols="30" rows="5" [(ngModel)]="msg.Message"></textarea>    
  
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
