<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Document</title>
</head>

    <header>
        <app-header></app-header>
    </header>
    
    <div class="w3-container w3-center w3-animate-bottom">
        <router-outlet></router-outlet>
    </div>
    
    <!-- <div class="inContainer">       
        <app-list></app-list>
    </div> -->
    <!-- <app-profile></app-profile> -->

  