<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body *ngIf="data">
    <div class="container" *ngIf="msgData">
        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="ks-messenger shadow-lg rounded-lg">
                    <div class="ks-messages ks-messenger__messages">
                        <div class="ks-header">
                            <div class="ks-description">
                                <div *ngIf="msgData.SenderName != null" class="ks-name">{{msgData.SenderName}}</div>
                                <div *ngIf="msgData.SenderName == null" class="ks-name">{{msgData.ReceiverName}}</div>
                                <div *ngIf="msgData.SenderName != null" class="ks-amount">{{msgData.SenderCompany}}</div>
                                <div *ngIf="msgData.SenderName == null" class="ks-amount">{{msgData.ReceiverCompany}}</div>
                            </div>
                        </div>
                        <div class="ks-body ks-scrollable jspScrollable" data-auto-height="" data-reduce-height=".ks-footer" data-fix-height="32" style="height: 480px; overflow-y: auto; padding-left: 130px; width: 990px;" tabindex="0">
                            <div class="jspContainer" style="width: 701px; height: 481px;">
                                <div class="jspPane" style="padding: 0px; top: 0px; width: 691px;">
                                    <ul class="ks-items" *ngFor="let item of data">
                                        <li class="ks-item ks-self" *ngIf="item.SenderName != null">
                                            <span class="ks-avatar ks-offline">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="36" height="36" class="rounded-circle">
                                            </span>
                                            <div class="ks-body">
                                                <div class="ks-header">
                                                    <span class="ks-name">{{item.SenderName}}</span>
                                                    <span class="ks-datetime">{{item.Ttime}}</span>
                                                </div>
                                                <div class="ks-message">{{item.Message}}</div>
                                            </div>
                                        </li>
                                        <li class="ks-item ks-from" *ngIf="item.SenderName == null">
                                            <span class="ks-avatar ks-online">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="36" height="36" class="rounded-circle">
                                            </span>
                                            <div class="ks-body">
                                                <div class="ks-header">
                                                    <span class="ks-name">Me</span>
                                                    <span class="ks-datetime">{{item.Ttime}}</span>
                                                </div>
                                                <div class="ks-message">{{item.Message}}</div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <!-- <div class="jspVerticalBar">
                                    <div class="jspCap jspCapTop"></div>
                                    <div class="jspTrack" style="height: 481px;">
                                        <div class="jspDrag" style="height: 206px;">
                                            <div class="jspDragTop"></div>
                                            <div class="jspDragBottom"></div>
                                        </div>
                                    </div>
                                    <div class="jspCap jspCapBottom"></div>
                                </div> -->
                            </div>
                        </div>
                        <div class="ks-footer">
                            <textarea class="form-control" placeholder="Type something..."></textarea>
                            <div class="ks-controls">
                                <button class="btn btn-primary">Send</button>
                                <a href="#" class="la la-paperclip ks-attachment"></a>
                            </div>
                        </div>
                    </div>
                    <div class="ks-info ks-messenger__info">
                        <div class="ks-header">
                            User Information
                        </div>
                        <div class="ks-body">
                            <div class="ks-item ks-user">
                                <span class="ks-avatar ks-online">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="36" height="36" class="rounded-circle">
                                </span>
                                <span class="ks-name" *ngIf="msgData.SenderName != null">
                                    {{msgData.SenderName}}
                                </span>
                                <span class="ks-name" *ngIf="msgData.SenderName == null">
                                    {{msgData.ReceiverName}}
                                </span>
                            </div>
        
                            <div class="ks-item">
                                <div class="ks-name">Occupation</div>
                                <div class="ks-text" *ngIf="msgData.SenderName != null">
                                    {{msgData.SenderOccupation}}
                                </div>
                                <div class="ks-text" *ngIf="msgData.SenderName == null">
                                    {{msgData.ReceiverOccupation}}
                                </div>
                            </div>
                            <div class="ks-item">
                                <div class="ks-name">Email</div>
                                <div class="ks-text" *ngIf="msgData.SenderName != null">
                                    {{msgData.Sender}}
                                </div>
                                <div class="ks-text" *ngIf="msgData.SenderName == null">
                                    {{msgData.Receiver}}
                                </div>
                            </div>
                            <div class="ks-item">
                                <div class="ks-name">Phone Number</div>
                                <div class="ks-text" *ngIf="msgData.SenderName != null">
                                    {{msgData.SenderPhone}}
                                </div>
                                <div class="ks-text" *ngIf="msgData.SenderName == null">
                                    {{msgData.ReceiverPhone}}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="ks-footer">
                            <div class="ks-item">
                                <div class="ks-name">Created</div>
                                <div class="ks-text">
                                    Febriary 17, 2016 at 11:38 PM
                                </div>
                            </div>
                            <div class="ks-item">
                                <div class="ks-name">Last Activity</div>
                                <div class="ks-text">
                                    1 minute ago
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        </div>

       
</body>
</html>
