<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h3>Make an offer to {{name.Company_Name}}</h3>

<div>
  <form action="" (ngSubmit)="createOffer()">

    <label for="share">Share</label>
    <input type="text" id="share" name="Offered_Share" placeholder="" [(ngModel)]="offer.Offered_Share">

    <label for="amount">Amount</label>
    <input type="text" id="share" name="Offered_Amount" placeholder="" [(ngModel)]="offer.Offered_Amount">

    <label for="lname">Title</label>
    <input type="text" id="lname" name="Title" placeholder="" [(ngModel)]="offer.Title">

    <label for="">Description</label>
    <textarea name="Description" id="" cols="30" rows="3" [(ngModel)]="offer.Description"></textarea>    
  
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
